<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% load static %}
    <link rel="stylesheet" href="{% static 'S2/Assign.css' %}">  
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <title>Send Notification</title>
</head>
<body>
    <div class="abc">
    <form method="post" action="/some/staff_notification/">
        {% csrf_token %}
        <div class="card card-primary">
            <div class="card-header">
                <h3 class="card-title">Notification Form</h3>
            </div>
            <div class="form-group">
                <label>Class</label>
                   <select class="form-control" name="cls">
                       {% for c in cls %}
                           <option value="{{ c.name }}">{{ c.name }}</option>
                       {% endfor %}
                   </select>
           </div>
           <div class="form-group">
            <label>Section</label>
               <input type="text" name="section">
            </div>
            <div class="card-footer" >    
                <button type="submit" class="btn btn-success" >Fetch Students</button>
            </div>
            <div>
                {% if msg %}
                    {% for msg in messages %}
                    <div class="alert" style="margin-top:10px">{{ msg }}</div>
                    {% endfor %}
                {% endif %}
            </div>
        </div>
        </form>
    </div>
    </body>
   
</html>