<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% load static %}
    <link rel="stylesheet" href="{% static 'S2/Assigns.css' %}"> 
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <title>Leave Applied by Students</title>
</head>
<body>
<div class="abc">
<section class="content">
        <div class="container-fluid">

            <div class="row">
                <div class="col-md-12">
                    <!-- general form elements -->
                    <div class="card card-primary">
                        <div class="card-header">
                            <h3 class="card-title">Leave Applied by Students</h3>
                        </div>
                        <!-- /.card-header -->

                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                <tr>
                                    <th>Leave ID</th>
                                    <th>Roll Number</th>
                                    <th>Student Name</th>
                                    <th>Leave Date</th>
                                    <th>Leave Reason</th>
                                    <th>Applied On</th>
                                    <th>Action</th>
                                </tr>
                                </thead>

                                {% for leave in leaves %}
                                <tbody>
                                <tr>
                                    <td>{{ leave.leave_id }}</td>
                                    <td>{{ leave.rno }}</td>
                                    <td>{{ leave.id.first_name }} {{ leave.id.last_name }} </td> 
                                    <td>{{ leave.leave_date }}</td>
                                    <td>{{ leave.leave_reason }}</td>
                                    <td>{{ leave.created_at }}</td>
                                    <td>
                                        {% if leave.leave_status == 0 %}
                                            <a href="{% url 'staff_leave_approve' leave_id=leave.leave_id %}" class="btn btn-success">Approve</a>
                                            <a href="{% url 'staff_leave_reject' leave_id=leave.leave_id %}" class="btn btn-danger">Reject</a>
                                        {% elif leave.leave_status == 1 %}
                                            <button class="btn btn-warning" disabled="disabled">Approved</button>
                                        {% else %}
                                            <button class="btn btn-danger" disabled="disabled">Rejected</button>
                                        {% endif %}
                                        
                                    </td>
                                </tr>
                                </tbody>
                                {% endfor %}

                            </table>
                        </div>
                    
                    </div>
                    <!-- /.card -->

                </div>
            </div>

        </div><!-- /.container-fluid -->
      </section>
</div>
</body>
</html> 
      
