<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <title>Manage Student</title>
</head>
{% block page_title %}
   <centre><h2> Manage Staff</h2></centre>
{% endblock page_title %}
{% load static %}

<section class="content">
        <div class="container-fluid">

            <a class="btn btn-primary" href="{% url 'add_staff' %}" role="button">+ Add Staff</a> <br/>&nbsp;
            <div class="form-group">
                {% if messages %}
                  {% for message in messages %}
                  {% if message.tags == 'error' %}
                  <div class="alert alert-danger" style="margin-top:10px">{{ message }}</div>
                  {% endif %}
                  {% if message.tags == 'success' %}
                  <div class="alert alert-success alert-dismissible show" style="margin-top:10px">{{ message }}</div>
                  {% endif %}
                  {% endfor %}
                {% endif %}
              </div>
            <div class="row">

                <div class="col-md-12">
                    <!-- general form elements -->
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">Staff Details</h3>
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body table-responsive p-0">
                            <table class="table table-hover text-nowrap">
                            <thead>
                                <tr>
                                <th>ID</th>
                                <th>First Name</th>
                                <th>Last Name</th>
                                <th>Username</th>
                                <th>Email</th>
                                <th>Course</th>
                                <th>Date Joined</th>
                                <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for staff1 in staffs %}
                                <tr>
                                <td>{{ staff1.admin.id }}</td>
                                <td>{{ staff1.admin.first_name }}</td>
                                <td>{{ staff1.admin.last_name }}</td>
                                <td>{{ staff1.admin.username }}</td>
                                <td>{{ staff1.admin.email }}</td>
                                <td>{{staff1.course_id.Name}}</td>
                                <td>{{staff1.created_at}}</td>
                                <td>
                                    <a href="{% url 'edit_staff' staff1.admin.id %}" class="btn btn-success">Edit</a> 
                                    <a href="{% url 'delete_staff' staff1.admin.id %}" class="btn btn-danger">Delete</a> 
                                </td>
                                </tr>
                                {% endfor %}
                                
                            </tbody>
                            </table>
                        </div>
                        <!-- /.card-body -->
                        </div>
                    <!-- /.card -->

                </div>
            </div>

        </div><!-- /.container-fluid -->
      </section>
