<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <title>Manage Student</title>
</head>
{% block page_title %}
   <centre><h2> Manage Class</h2></centre>
{% endblock page_title %}
{% load static %}

<section class="content">
        <div class="container-fluid">

            <a class="btn btn-primary" href="{% url 'add_class' %}" role="button">+ Add Class</a> <br/>&nbsp;
            <div class="form-group">
                {% if messages %}
                  {% for message in messages %}
                  {% if message.tags == 'error' %}
                  <div class="alert alert-danger" style="margin-top:10px">{{ message }}</div>
                  {% endif %}
                  {% if message.tags == 'success' %}
                  <div class="alert alert-success" style="margin-top:10px">{{ message }}</div>
                  {% endif %}
                  {% endfor %}
                {% endif %}
            </div> 
            <div class="row">
                <div class="col-md-12">
                    <!-- general form elements -->
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">Class Details</h3>
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body table-responsive p-0">
                            <table class="table table-hover text-nowrap">
                            <thead>
                                <tr>
                                <th>Class ID</th>
                                <th>Class</th>
                                <th>Course</th>
                                <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for c1 in class1 %}
                                <tr>
                                <th>{{ c1.class_id}}</th>
                                <th>{{c1.name}}</th>
                                <th>{{c1.course_id.Name}}</th>
                                <td>
                                    <a href="{% url 'edit_class' c1.class_id %}" class="btn btn-success">Edit</a> 
                                    <a href="{% url 'delete_class' c1.class_id %}" class="btn btn-danger">Delete</a> 
                                </td>
                                </tr>
                                {% endfor %}
                                
                            </tbody>
                            </table>
                            
                        </div>
                        <!-- /.card-body -->
                        </div>
                    <!-- /.card -->

                </div>
            </div>

        </div><!-- /.container-fluid -->
      </section>
