<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <title>Manage Student</title>
</head>
{% block page_title %}
   <centre><h2> Manage Subject</h2></centre>
{% endblock page_title %}
{% load static %}

<section class="content">
        <div class="container-fluid">

            <a class="btn btn-primary" href="{% url 'add_subject' %}" role="button">+ Add Subject</a> <br/>&nbsp;
            <div class="form-group">
                {% if messages %}
                  {% for message in messages %}
                  {% if message.tags == 'error' %}
                  <div class="alert alert-danger" style="margin-top:10px">{{ message }}</div>
                  {% endif %}
                  {% if message.tags == 'success' %}
                  <div class="alert alert-success" style="margin-top:10px">{{ message }}</div>
                  {% endif %}
                  {% endfor %}
                {% endif %}
            </div>    
            <div class="row">
                <div class="col-md-12">
                    <!-- general form elements -->
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">Subject Details</h3>
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body table-responsive p-0">
                            <table class="table table-hover text-nowrap">
                            <thead>
                                <tr>
                                <th>ID</th>
                                <th>Subject Name</th>
                                <th>Class</th>
                                <th>Staff</th>
                                <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for subject in subject %}
                                <tr>
                                <th>{{ subject.subject_id}}</th>
                                <th>{{subject.subject}}</th>
                                <th>{{subject.class_id.name}}</th>
                                <th>{{subject.staff_id.staff_name}}</th>
                                <td>
                                    <a href="{% url 'edit_subject' subject.subject_id %}" class="btn btn-success">Edit</a> 
                                    <a href="{% url 'delete_subject' subject.subject_id %}" class="btn btn-danger">Delete</a> 
                                </td>
                                </tr>
                                {% endfor %}
                                
                            </tbody>
                            </table>
                        <!-- /.card-body -->
                        </div>
                    <!-- /.card -->

                </div>
            </div>

        </div><!-- /.container-fluid -->
      </section>
