<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% load static %}
    <link rel="stylesheet" href="{% static 'S2/Assign.css' %}"> 
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <title>Parent Register</title>
</head>
<body>
    <div class ="abc">
    <form action="/some/add_parent_save" method="post">
    {% csrf_token %}
    <div class="card card-primary">
        <div class="card-header">
            <h3 class="card-title">Add Parent</h3>
        </div>
        <div class="form-group">
            <label>Parent Id</label>
            <input type="text" class="form-control" name="parent_id" value="{{ptr}}" readonly placeholder="Parent id">
        </div>
        <div class="form-group">
            <label>First Name</label>
            <input type="text" class="form-control" name="parent_name" placeholder="parent name"  required>
        </div>
        <div class="form-group">
            <label>Last Name</label>
            <input type="text" class="form-control" name="last_name" placeholder="parent Last name">
        </div>
        <div class="form-group">
            <label>Username</label>
            <input type="text" class="form-control" name="username" placeholder="parent name"  required>
        </div>
        <div class="form-group">
            <label>contact</label>
            <input type="text" class="form-control" name="contact" placeholder="parent contact"  required>
        </div>
        <div class="form-group">
            <label>Email</label>
            <input type="email" class="form-control" name="email" placeholder="Parent email" required>
        </div>
        <div class="form-group">
            <label>Password</label>
            <input type="password" class="form-control" name="password" placeholder="Password" required>
        </div>
        <div class="form-group">
            <label>Student Roll Number</label>
            <input type="text" class="form-control" name="rno" placeholder="Enter student college roll number" required>
        </div>
        
        <div class="card-footer">
            <button type="submit" class="btn btn-primary">Register</button>
        </div>
        <div class="form-group">
            {% if messages %}
              {% for message in messages %}
              {% if message.tags == 'error' %}
              <div class="alert alert-danger" style="margin-top:10px">{{ message }}</div>
              {% endif %}
              {% if message.tags == 'success' %}
              <div class="alert alert-success" style="margin-top:10px">{{ message }}</div>
              {% endif %}
              {% endfor %}
            {% endif %}
          </div>
        
    </form>
</div>
</body>
</html>